<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Gestor Clientes</title>
    <!-- https://electronjs.org/docs/tutorial/security#csp-meta-tag -->

    <link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../node_modules/datatables.net-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="../../node_modules/@fortawesome/fontawesome-free/css/all.css">
    <link rel="stylesheet" href="../../node_modules/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css">
    <link rel="stylesheet" href="../../node_modules/toastr/build/toastr.min.css"> 
    <link rel="stylesheet" type="text/css" href="../css/datatable.css"></link>

    <script>
        require('popper.js');
        require('bootstrap');
    </script>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="index.html">Gestor Clientes</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="index.html">Clientes</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#">Trabajos Pendientes</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#">Calendario</a>
                </li>
            </ul>
        </div>
        <form action="new_customer.html">
            <button class="btn btn-primary my-2 my-sm-0 text-center" type="submit">Nuevo cliente</button>
        </form>
        
    </nav>
</body>
</html>