<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Presupuesto</title>

    <script>
        var $ = require('jquery');
    </script>
    <script> 
        $(function(){
            $("#includedContent").load("base.html"); 
        });
    </script>

    <script type="text/javascript" src="../models/customer.js"></script>
    <link rel="stylesheet" type="text/css" href="../css/budget.css">
    <link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.min.css">
</head>

<body>
    <div id="includedContent"></div>
    <div class="container text-center" id="buttons">
        <button class="btn btn-primary btn-back"><a href="customer.html">Volver</a></button>
        <button class="btn btn-success btn-pdf">PDF</button>
    </div>
    <div class="page card card-default" id="page" data-size="A4">
        <div class="card-body">
            <div class="card card-default border-0 mx-2 my-0">
                <div class="card-body">
                  <table class="table table-borderless" style="width: 100%;">
                      <tr>
                          <td class="basic bigtext bold pb-0" style="width: 85%" id="user-fullname"></td>
                          <td class="basic bigtext bold pb-0" style="width: 15%" id="today"></td>
                      </tr>
                      <tr>
                          <td class="basic pb-0" id="user-address"></td>
                      </tr>
                      <tr>
                          <td class="basic pb-0" id="user-town"></td>
                      </tr>
                      <tr>
                          <td class="basic pb-0" id="user-postal-code"></td>
                      </tr>
                      <tr>
                          <td class="basic pb-0" id="user-dni"></td>
                      </tr>
                  </table>
                </div>
            </div>

        <div class="container text-center">
            <span class="basic budget-title bold">PRESUPUESTO</span>
        </div>

        <div class="card card-default basic border-0 mx-3 my-0">
            <div class="card-head">
              <span class="basic bigtext bold">Número de presupuesto: </span><span class="basic bigtext" id="year"></span>-<span class="basic bigtext" id="budget-id"></span>
            </div>
            <div class="card-body">
                <table class="table table-borderless table-customer">
                    <tr>
                        <td class="bigtext bold px-1 py-1" id="customer-name"></td>
                    </tr>
                    <tr>
                        <td class="px-1 py-1 medium-text" id="address"></td>
                    </tr>
                    <tr>
                        <td class="px-1 py-1 medium-text" id="postal-code"></td>
                    </tr>
                    <tr>
                        <td class="px-1 py-1 medium-text" id="town"></td>
                    </tr>
                    <tr>
                        <td class="px-1 py-1 medium-text" id="dni"></td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="card card-default basic border-0 mx-3 my-0">
            <div class="card-body">
                <table class="table table-sm table-products table-bordered">
                    <thead>
                        <tr>
                            <th class="text-center medium-text" style="width: 34%; text-align: center;">Concepto</th>
                            <th class="text-center medium-text" style="width: 10%">Uds.</th>
                            <th class="text-center medium-text" style="width: 12%">Base Ud.</th>
                            <th class="text-center medium-text" style="width: 12%">Base total</th>
                            <th class="text-center medium-text" style="width: 10%">I.V.A. %</th>
                            <th class="text-center medium-text" style="width: 12%">I.V.A.</th>
                        </tr>
                    </thead>
                    <tbody id="products-body"></tbody>
                </table>
            </div>
        </div>

      </div>

        <div class="card-footer bg-transparent border-0 ml-5 mr-5">
            <div class="card card-default basic border-0">
                <table class="table table-sm table-price table-bordered">
                    <thead>
                        <tr>
                            <th class="text-right medium-text" style="width: 75%; text-align: center;">Base imponible</th>
                            <th class="text-center medium-text" style="width: 25%">Impuesto (<span id="tax-iva"></span>)</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="text-right align-middle medium-text" id="total-base-sum"></td>
                            <td class="text-center align-middle medium-text" id="total-iva-sum"></td>
                        </tr>
                        <tr>
                            <td class="text-right align-middle bold medium-text">TOTAL:</td>
                            <td class="text-center align-middle medium-text" id="total"></td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="small-text text-center">
                <span>Responsable: Identidad: <span id="footer-fullname"></span> - <span id="footer-dni"></span>, <span id="footer-phone"></span></span><br>
                <span>Dir.postal: <span id="footer-address"></span>, <span id="footer-town"></span>, <span id="footer-province"></span>, <span id="footer-email"></span></span><br>
                <span>En nombre de la empresa tratamos la información que nos facilita con el fin de prestarles el servicio solicitado realizar la facturación del mismo.</span><br>
                <span>Los datos proporcionados se conservarán mientras se mantenga la relación comercial o durante los años necesarios para cumplir con las</span><br>
                <span>obligaciones legales. Los datos no se cederán a terceros salvo en los casos en que exista una obligación legal. Usted tiene derecho a obtener</span><br>
                <span>confirmación sobre si en <span id="footer-fullname"></span> estamos tratando sus datos personales por tanto tiene derecho a acceder a sus datos</span><br>
                <span>personales, rectificar los datos inexactos o solicitar su supresión cuando los datos ya no sean necesarios.</span><br>
            </div>
        </div>

    </div>
</body>
</html>

<script type="text/javascript" src="../listeners/budget.js"></script>