<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>        
        <script>
            var $ = require('jquery');
            require('bootstrap-datepicker');
            var jquery = require('jquery');
            window.jQuery = jquery;
            $(function(){
                $("#includedContent").load("base.html"); 
             });
        </script>
        <link rel="stylesheet" type="text/css" href="../css/customer.css">
        <script type="text/javascript" src="../models/customer.js"></script>

        <script>
            var workjs = require('../models/work');
            var invoicejs = require('../models/invoice');
            var budgetjs = require('../models/budget');
            var idCustomer = localStorage.getItem('id_customer');
        </script>
        
        <script type="text/javascript" src="../../node_modules/bootstrap-datepicker/js/locales/bootstrap-datepicker.es.js"></script>
    </head>

    <body style="background-color: #F2F2F2;">
        <div id="includedContent"></div>
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-5">
                    <form class="form p-2 text-center mx-auto" action="#" name="customer-edit" onSubmit="editCustomer(idCustomer); return false;">
                        <legend class="display-4 py-2 px-2 text-center legend-header">Cliente</legend>

                        <div class="form-group p-2">
                            <div class="row">
                                <div class="col-1">
                                    <span><i class="fa fa-user bigicon"></i></span>
                                </div>
                                <div class="col ml-2">
                                    <input class="form-control" type="text" id="name-edit" name="name" placeholder="Nombre">
                                </div>
                                <div class="col ml-2">
                                    <input class="form-control" type="text" id="lastname-edit" name="lastname" placeholder="Apellidos">
                                </div>
                            </div>
                        </div>

                        <div class="form-group p-2">
                            <div class="row">
                                <div class="col-1">
                                    <span><i class="fa fa-phone-square bigicon"></i></span>
                                </div>
                                <div class="col ml-2">
                                    <input id="phone-edit" name="phone" type="text" placeholder="Teléfono" class="form-control">
                                </div>
                                <div class="col ml-1">
                                    <input id="phone2-edit" name="phone2" type="text" placeholder="Teléfono 2" class="form-control">
                                </div>
                            </div>
                        </div>

                        <div class="form-group p-2">
                            <div class="row">
                                <div class="col-1">
                                    <span><i class="fas fa-id-card bigicon"></i></span>
                                </div>
                                <div class="col ml-2">
                                    <input class="form-control" type="text" id="dni-edit" name="dni" placeholder="DNI">
                                </div>
                                <div class="col ml-2">
                                    <input class="form-control" type="text" id="postalcode-edit" name="postalcode" placeholder="Código Postal">
                                </div>
                            </div>
                        </div>

                        <div class="form-group p-2">
                            <div class="row">
                                <div class="col-1">
                                    <span><i class="fas fa-map-marker-alt bigicon"></i></span>
                                </div>
                                <div class="col ml-2">
                                    <input id="address-edit" name="address" type="text" placeholder="Dirección" class="form-control">
                                </div>
                            </div>
                        </div>

                        <div class="form-group p-2">
                            <div class="row">
                                <div class="col-1">
                                    <span><i class="fas fa-home bigicon"></i></span>
                                </div>
                                <div class="col ml-2">
                                    <input id="town-edit" name="town" type="text" placeholder="Población" class="form-control">
                                </div>
                            </div>
                        </div>

                        <button type="submit" class="btn btn-warning btn-lg">Editar</button>
                        <button type="button" class="btn btn-danger btn-lg delete-customer">Borrar</button>
                    </form>  
                </div>

                <div class="col-md-1"></div>
                
                <div class="col-md-6">
                    <div class="historic-header p-2">
                        <div class="row">
                            <legend class="display-4 py-2 px-2 text-center legend-header">Historial</legend>
                        </div>
                    </div>

                    <form class="form" name="historic-new" onSubmit="workjs.insertWork(idCustomer); return false;" action="#">
                        <div class="form-group p-1">
                            <div class="row">
                                <div class="col-8">
                                    <textarea class="form-control" rows="4" id="textarea-work-new"></textarea>
                                </div>   
                                <div class="col-3">
                                    <div class="row">
                                        <div class="col-md-12 input-group date p-1">
                                            <input type='text' class="form-control" id='datepicker-work-new' placeholder="DD/MM/YYYY">
                                            <div class="input-group-addon">
                                                <span class="fa fa-calendar bigicon"></span>
                                            </div> 
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 p-1">
                                            <button class="btn btn-success btn-lg text-right" type="submit">Añadir</button>
                                        </div>
                                    </div>
                                </div>  
                            </div>
                        </div>
                    </form>

                    <!-- DIV for create historic dynamically with JS -->
                    <div class="historic-edit"></div>
                </div>
            </div>
        </div>
        
        <!-- Invoice Modal -->
        <div class="modal fade" id="invoiceModal" tabindex="-1" role="dialog" aria-labelledby="invoiceModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="invoiceModalLabel">Factura <span id="invoice-done" class="badge badge-success pull-right" style="display: none;">Realizada</span></h5>
                        
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-3">
                                    <label for="invoice-id" class="col-form-label"><b>Número Factura: </b></label>
                                    <input id="invoice-id" name="invoice-id" type="text" class="form-control" value="0001">
                                </div>
                                <div class="col-md-3">
                                    <label for="iva" class="col-form-label"><b>% IVA</b></label>
                                    <input id="invoice-iva" name="iva" type="text" class="form-control" value="21">
                                </div>
                                <div class="col-md-3">
                                    <label for="invoice-payment" class="col-form-label"><b>Pago</b></label>
                                    <select id="invoice-payment" name="payment" class="form-control">
                                        <option value="1">Efectivo</option>
                                        <option value="2">Transferencia</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <hr style="border: 1px solid black;">
                        <form id="invoice-form" action="invoice.html" style="display: none;" name="form-hidden">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-12">
                                        <label for="concept" class="col-form-label"><b>Concepto</b></label>
                                        <input id="concept" name="concept" type="text" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-4">
                                        <label for="units" class="col-form-label"><b>Unidades</b></label>
                                        <input id="units" name="units" type="number" class="form-control">
                                    </div>
                                    <div class="col-md-4">
                                        <label for="base" class="col-form-label"><b>Precio unidad</b></label>
                                        <input id="base" name="base" type="number" class="form-control">
                                    </div>
                                    <div class="col-md-4">
                                        <label for="delete-product" class="col-form-label col-md-12"><b>Acciones</b></label>
                                        <input class="btn btn-danger btn-delete-product-invoice form-control col-md-6" name="" id="" type="button" value="Quitar">
                                    </div>
                                </div>
                            </div>
                        </form>                          
                        <button type="button" class="btn btn-primary btn-add-product-invoice">Añadir</button>
                        <input hidden id="id-work-invoice">
                        <hr style="border: 1px solid black;">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-12">
                                    <label for="comment" class="col-form-label"><b>Observaciones</b></label>
                                    <input class="form-control" id="invoice-comment" name="comment" type="text"></input>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-success btn-create-invoice">Crear</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Budget Modal -->
        <div class="modal fade" id="budgetModal" tabindex="-1" role="dialog" aria-labelledby="budgetModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="budgetModalLabel">Presupuesto <span id="budget-done" class="badge badge-success pull-right" style="display: none;">Realizado</span></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-3">
                                    <label for="budget-id" class="col-form-label"><b>Número Presupuesto: </b></label>
                                    <input id="budget-id" name="budget-id" type="text" class="form-control" value="0001">
                                </div>
                                <div class="col-md-3">
                                    <label for="iva" class="col-form-label"><b>% IVA</b></label>
                                    <input id="budget-iva" name="iva" type="text" class="form-control" value="21">
                                </div>
                            </div>
                        </div>
                        <hr style="border: 1px solid black;">
                        <form id="budget-form" action="budget.html" style="display: none;" name="form-hidden">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-12">
                                        <label for="concept" class="col-form-label"><b>Concepto</b></label>
                                        <input id="concept" name="concept" type="text" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-4">
                                        <label for="units" class="col-form-label"><b>Unidades</b></label>
                                        <input id="units" name="units" type="number" class="form-control">
                                    </div>
                                    <div class="col-md-4">
                                        <label for="base" class="col-form-label"><b>Precio unidad</b></label>
                                        <input id="base" name="base" type="number" class="form-control">
                                    </div>
                                    <div class="col-md-4">
                                        <label for="delete-product" class="col-form-label col-md-12"><b>Acciones</b></label>
                                        <input class="btn btn-danger btn-delete-product-budget form-control col-md-6" name="" id="" type="button" value="Quitar">
                                    </div>
                                </div>
                            </div>
                            <hr style="border: 1px solid black;">
                        </form>
                        <button type="button" class="btn btn-primary btn-add-product-budget">Añadir</button>
                        <input hidden id="id-work-budget">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-success btn-create-budget">Crear</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>

        <script type="text/javascript" src="../listeners/customer.js"></script>
    </body>
</html>