<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8"/>
        <script>
          var $ = require('jquery');
          var dt = require('datatables.net')();
          var dtbs = require('datatables.net-bs4')(); 
        </script>
        <script> 
          $(function(){
            $("#includedContent").load("base.html"); 
          });
        </script>
        <link rel="stylesheet" type="text/css" href="../css/datatable.css">
        <script type="text/javascript" src="../models/customer.js"></script>
        <script type="text/javascript">
            var customersData = [];
            getAllCustomers(function (customers) {
                customersData = customers;
            });
        </script>
    </head>

    <body>
        <div id="includedContent"></div>
        <script type="text/javascript">

            $(document).ready(function(){
                var table = $('#customers').DataTable({
                    language: { url: "../../config/datatable_language.json"},
                    data: customersData,
                    columns: [
                        { data: "name" },
                        { data: "lastname" },
                        { data: "phone" },
                        { data: "address" }
                    ]
                });

                $('#customers').on('click', 'tbody > tr > td', function() {
                    var rowData = table.row(this).data();
                    console.log(rowData);
                    localStorage.setItem('id_customer', rowData['_id']);
                    window.location.href = 'customer.html';
                });
            });
        </script>
        <div class="table-responsive p-3">
            <table id="customers" class="table table-striped table-bordered table-hover" width="100%">
                <caption>Listado de clientes</caption>
                <thead class="thead-dark">
                    <tr>
                        <th>Nombre</th>
                        <th>Apellidos</th>
                        <th>Teléfono</th>
                        <th>Dirección</th>
                    </tr>
                </thead>       
                <tfoot class="tfoot-dark">
                    <tr>
                        <th>Nombre</th>
                        <th>Apellidos</th>
                        <th>Teléfono</th>
                        <th>Dirección</th>
                    </tr>
                </tfoot>     
            </table>
        </div>       
    </body>
</html>