<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8"/>
        <script>
          var $ = require('jquery');
          var dt = require('datatables.net')();
          var dtbs = require('datatables.net-bs4')(); 
        </script>
        <script> 
          $(function(){
            $("#includedContent").load("base.html"); 
          });
        </script>
        <script type="text/javascript" src="../models/customer.js"></script>
    </head>

    <body>
        <div id="includedContent"></div>
        <script>
            $(document).ready(function(){
                $('#customers').DataTable({
                  data: getAllCustomers(),
                  columns: [
                    { data: 'name' },
                    { data: 'lastname' },
                    { data: 'phone' },
                    { data: 'address' }
                  ]
                });
            });
        </script>
        <div class="table-responsive">
            <table id="customers" class="table table-striped table-bordered">
                <caption>Listado de últimos trabajos realizados</caption>
                <thead class="thead-dark">

                </thead>        
            </table>
        </div>      
        
    </body>
</html>