<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Factura</title>

    <script>
      var $ = require('jquery');
    </script>
    <script> 
      $(function(){
        $("#includedContent").load("base.html"); 
      });
    </script>

    <script type="text/javascript" src="../models/customer.js"></script>
    <link rel="stylesheet" type="text/css" href="../css/invoice.css">
    <link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.min.css">
  </head>

  <body>
    <div id="includedContent"></div>
    <div class="container text-center" id="buttons">
      <button class="btn btn-primary btn-back"><a href="customer.html">Volver</a></button>
      <button class="btn btn-success btn-pdf">PDF</button>
    </div>
    <div class="page card card-default" id="page" data-size="A4">
      <div class="card-body">
        <div class="card card-default border-0 mx-2 my-0">
          <div class="card-body">
            <table class="table table-borderless" style="width: 100%;">
              <tr>
                <td class="basic bigtext bold pb-0" style="width: 85%" id="user-fullname"></td>
                <td class="basic bigtext bold pb-0" style="width: 15%" id="today"></td>
              </tr>
              <tr>
                <td class="basic pb-0" id="user-address"></td>
              </tr>
              <tr>
                <td class="basic pb-0" id="user-town"></td>
              </tr>
              <tr>
                <td class="basic pb-0" id="user-postal-code"></td>
              </tr>
              <tr>
                <td class="basic pb-0" id="user-dni"></td>
              </tr>
            </table>
          </div>
        </div>

        <div class="container text-center">
          <span class="basic invoice-title bold">FACTURA</span>
        </div>

        <div class="card card-default basic border-0 mx-3 my-0">
          <div class="card-head">
            <span class="basic bigtext bold">Número de factura: </span><span class="basic bigtext" id="year"></span>-<span class="basic bigtext" id="invoice-id"></span>
          </div>
          <div class="card-body">
            <table class="table table-borderless table-customer">
              <tr>
                <td class="bigtext bold px-1 py-1" id="customer-name"></td>
              </tr>
              <tr>
                <td class="px-1 py-1 medium-text" id="address"></td>
              </tr>
              <tr>
                <td class="px-1 py-1 medium-text" id="postal-code"></td>
              </tr>
              <tr>
                <td class="px-1 py-1 medium-text" id="town"></td>
              </tr>
              <tr>
                <td class="px-1 py-1 medium-text" id="dni"></td>
              </tr>
            </table>
          </div>
        </div>

        <div class="card card-default basic border-0 mx-3 my-0">
          <div class="card-body">
            <table class="table table-sm table-products table-bordered">
              <thead>
                <tr>
                  <th class="text-center medium-text" style="width: 36%; text-align: center;">Concepto</th>
                  <th class="text-center medium-text" style="width: 10%">Uds.</th>
                  <th class="text-center medium-text" style="width: 12%">Base Ud.</th>
                  <th class="text-center medium-text" style="width: 12%">Base total</th>
                  <th class="text-center medium-text" style="width: 10%">I.V.A. %</th>
                  <th class="text-center medium-text" style="width: 10%">I.V.A.</th>
                </tr>
              </thead>
              <tbody id="products-body">

              </tbody>
            </table>
          </div>
        </div>


      </div>

      <div class="card-footer bg-transparent border-0 ml-5 mr-5">
        <div class="card card-default basic border-0">
          <table class="table table-sm table-price table-bordered">
            <thead>
              <tr>
                <th class="text-right medium-text" style="width: 75%; text-align: center;">Base imponible</th>
                <th class="text-center medium-text" style="width: 25%">Impuesto (<span id="tax-iva"></span>)</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="text-right align-middle medium-text" id="total-base-sum"></td>
                <td class="text-center align-middle medium-text" id="total-iva-sum"></td>
              </tr>
              <tr>
                <td class="text-right align-middle bold medium-text">TOTAL:</td>
                <td class="text-center align-middle medium-text" id="total"></td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="small-text text-center">
          <span>Responsable: Identidad: <span id="footer-fullname"></span> - <span id="footer-dni"></span>, <span id="footer-phone"></span></span><br>
          <span>Dir.postal: <span id="footer-address"></span>, <span id="footer-town"></span>, <span id="footer-province"></span>, <span id="footer-email"></span></span><br>
          <span>En nombre de la empresa tratamos la información que nos facilita con el fin de prestarles el servicio solicitado realizar la facturación del mismo.</span><br>
          <span>Los datos proporcionados se conservarán mientras se mantenga la relación comercial o durante los años necesarios para cumplir con las</span><br>
          <span>obligaciones legales. Los datos no se cederán a terceros salvo en los casos en que exista una obligación legal. Usted tiene derecho a obtener</span><br>
          <span>confirmación sobre si en <span id="footer-fullname"></span> estamos tratando sus datos personales por tanto tiene derecho a acceder a sus datos</span><br>
          <span>personales, rectificar los datos inexactos o solicitar su supresión cuando los datos ya no sean necesarios.</span><br>
        </div>
      </div>

    </div>
  </body>

</html>

<script>
	var invoicejs = require('../models/invoice');
	
	var idCustomer = localStorage.getItem('id_customer');
	var idWork = localStorage.getItem('id_work');
  var idInvoice = "";
	var customerData = {};
  var invoiceData = [];
  
  let jsonFile = require('../../config/user_data.json');
  document.getElementById("user-fullname").innerHTML = jsonFile['name'] + " " + jsonFile['lastname'];
  document.getElementById("user-address").innerHTML = jsonFile['address'];
  document.getElementById("user-town").innerHTML = jsonFile['town'] + ", " + jsonFile['country'];
  document.getElementById("user-postal-code").innerHTML = jsonFile['postalcode'] + " " + jsonFile['province'];
  document.getElementById("user-dni").innerHTML = "NIF: " + jsonFile['dni'];

  document.getElementById("footer-fullname").innerHTML = jsonFile['name'] + " " + jsonFile['lastname'];
  document.getElementById("footer-dni").innerHTML = "NIF: " + jsonFile['dni'];
  document.getElementById("footer-phone").innerHTML = "Teléfono: " + jsonFile['phone'];
  document.getElementById("footer-address").innerHTML = jsonFile['address'];
  document.getElementById("footer-town").innerHTML = jsonFile['town'];
  document.getElementById("footer-province").innerHTML = jsonFile['province'];
  document.getElementById("footer-email").innerHTML = "Correo elect: " + jsonFile['email'];
	
	getCustomer(idCustomer, function (customer) {
		customerData = customer;
		
		document.getElementById("today").innerHTML = new Date().toLocaleDateString("es");
		document.getElementById("year").innerHTML = new Date().getFullYear();
		
		if (customerData['name'] && customerData['lastname']){
			document.getElementById("customer-name").innerHTML = customerData['name'] + " " + customerData['lastname'];
		}

		if (customerData['address']){
			document.getElementById("address").innerHTML = customerData['address'];
		}

		if (customerData['postalcode']){
			document.getElementById("postal-code").innerHTML = customerData['postalcode'];
		}

		if (customerData['town']){
			document.getElementById("town").innerHTML = customerData['town'];
		}

		if (customerData['dni']){
			document.getElementById("dni").innerHTML = "NIF: " + customerData['dni'];
		}
		
	});
				
	invoicejs.getInvoice(idWork, function (invoice) {
		invoiceData = invoice;

		var tableProducts = document.getElementById("products-body");
		var iva = 21;
		var baseSum = 0;
		var ivaSum = 0;
		var total = 0;

		for (var product of invoiceData) {

      idInvoice = product['id_invoice'];
			document.getElementById("invoice-id").innerHTML = idInvoice;
      

			var row = document.createElement("tr");

			// Concept
			var conceptTD = document.createElement("td");
			conceptTD.classList.add("align-middle", "medium-text");
			conceptTD.innerHTML = product['concept'];

			row.appendChild(conceptTD);


			// Units
			var unitsTD = document.createElement("td");
			unitsTD.classList.add("text-center", "align-middle", "medium-text");
			unitsTD.innerHTML = product['units'];

			row.appendChild(unitsTD);


			// Base unit
			var baseTD = document.createElement("td");
			baseTD.classList.add("text-center", "align-middle", "medium-text");
			baseTD.innerHTML = parseFloat(product['base']).toFixed(2) + " €";

			row.appendChild(baseTD);


			// Base total
			var baseTotal = product['units'] * product['base'];
			baseSum += baseTotal;

			var baseTotalTD = document.createElement("td");
			baseTotalTD.classList.add("text-center", "align-middle", "medium-text");
			baseTotalTD.innerHTML = parseFloat(baseTotal).toFixed(2) + " €";

			row.appendChild(baseTotalTD);


			// IVA %
			var ivaTD = document.createElement("td");
			ivaTD.classList.add("text-center", "align-middle", "medium-text");
			var iva = product['iva'];	
			ivaTD.innerHTML = parseFloat(iva).toFixed(2) + " %";
			
			row.appendChild(ivaTD);


			// IVA price
			var ivaTotal = product['iva'] * baseTotal / 100;
			ivaSum += ivaTotal;
			
			var ivaTotalTD = document.createElement("td");
			ivaTotalTD.classList.add("text-center", "align-middle", "medium-text");
			ivaTotalTD.innerHTML = parseFloat(ivaTotal).toFixed(2) + " €";

			row.appendChild(ivaTotalTD);

			// Add row to table
			tableProducts.appendChild(row);
		}

		total = baseSum + ivaSum;
		document.getElementById("tax-iva").innerHTML = parseFloat(iva).toFixed(2) + " %";
		document.getElementById("total-base-sum").innerHTML = parseFloat(baseSum).toFixed(2) + " €";
		document.getElementById("total-iva-sum").innerHTML = parseFloat(ivaSum).toFixed(2) + " €";
		document.getElementById("total").innerHTML = parseFloat(total).toFixed(2) + " €";
	});

    $('.btn-pdf').on('click', function () {
      var done = 0;
      const jspdf = require ('jspdf');
      const domtoimage = require('dom-to-image');
      let fs = require('fs');

      let lastIdInvoice = require('../../config/invoice_id.json');
      var newIdInvoice = parseInt(lastIdInvoice['id']) + 1;
      var data = {};

      if (parseInt(lastIdInvoice['id']) == parseInt(idInvoice)) {
        data['id'] = parseInt(lastIdInvoice['id']);
      } else {
        data['id'] = newIdInvoice;
      }

      $('#page').css('margin-left', '0');

      var year = new Date().getFullYear();
        
      domtoimage.toPng(document.getElementById('page'))
        .then(function (blob) {
          var pdf = new jspdf('p', 'mm', "a4");
          var width = pdf.internal.pageSize.getWidth();
          var height = pdf.internal.pageSize.getHeight();
          const app = require('electron').remote.app;
          const path = require('path');

          pdf.addImage(blob, 'PNG', 0, 0, width, height, 'test', 'MEDIUM', 0);
          pdf.save("Factura " + year + "-" + idInvoice + ".pdf", {returnPromise:true}).then(fs.writeFile(path.join(app.getAppPath(), "config", "invoice_id.json"), JSON.stringify(data), function (err) {
            if (err) {
                throw err;
            }
          }));     
          
          window.location.href = "index.html";
            
        });        
    });

</script>