.bigicon {
    color: #0275d8;
    font-size: 35px;
}

.col-border {
    border-right: 1px black solid;
    border-left: 1px black solid;
}

a {
    color: #ffffff
}

.modal-body {
    background-color: #F2F2F2;
}

hr {
    border: 1px solid black;
}