.datatable {
    margin: 10px;
}

a {
    color: #ffffff
}

#customers tbody tr:nth-child(even):hover td{
    background-color: #B2B8B2 !important;
}
 
#customers tbody tr:nth-child(odd):hover td {
    background-color: #B2B8B2 !important;
}